nodered/.flows.json.backup
[
    {
        "id": "e4ab771e79673c52",
        "type": "tab",
        "label": "check urls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f423dc7fc354cb4",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c487a685c5333a0",
        "type": "http proxy",
        "name": "",
        "url": "https://api.scripturecentral.org/proxy/api/",
        "noproxy": []
    },
    {
        "id": "4b529f5deaae6a4f",
        "type": "http proxy",
        "name": "",
        "url": "api.scripturecentral.org/proxy/api/knowhys",
        "noproxy": []
    },
    {
        "id": "367129b6a75dfe13",
        "type": "gauth",
        "name": "node-red@soy-enterprise-402215.iam.gserviceaccount.com"
    },
    {
        "id": "0f9e4add1d4cec9d",
        "type": "gauth",
        "name": "nodered-consistency@scripturecentral-dev.iam.gserviceaccount.com"
    },
    {
        "id": "04223cee7f30d02a",
        "type": "function",
        "z": "e4ab771e79673c52",
        "name": "result",
        "func": "\nmsg.payload = msg.statusCode\nmsg.cells = `J${msg.i+1}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 320,
        "wires": [
            [
                "38fc2152219e87a5"
            ]
        ]
    },
    {
        "id": "ef10b6e0609460b2",
        "type": "inject",
        "z": "e4ab771e79673c52",
        "name": "Bookofmormoncentral.org",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "sheet",
                "v": "Bookofmormoncentral.org",
                "vt": "str"
            },
            {
                "p": "cells",
                "v": "F:F",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "fb6a92d4575d8330"
            ]
        ]
    },
    {
        "id": "fb6a92d4575d8330",
        "type": "GSheet",
        "z": "e4ab771e79673c52",
        "creds": "0f9e4add1d4cec9d",
        "method": "get",
        "action": "",
        "sheet": "1xgPWcIGkOkfwtky8xch_2vKiaxbaLPAb9b2-biFk_4o",
        "cells": "",
        "flatten": false,
        "name": "",
        "x": 410,
        "y": 140,
        "wires": [
            [
                "3e4659ff770ecb44"
            ]
        ]
    },
    {
        "id": "38fc2152219e87a5",
        "type": "GSheet",
        "z": "e4ab771e79673c52",
        "creds": "0f9e4add1d4cec9d",
        "method": "update",
        "action": "",
        "sheet": "1xgPWcIGkOkfwtky8xch_2vKiaxbaLPAb9b2-biFk_4o",
        "cells": "",
        "flatten": false,
        "name": "",
        "x": 970,
        "y": 360,
        "wires": [
            [
                "0b4ed50ea9ffd47e"
            ]
        ]
    },
    {
        "id": "6e6c5809518fd73b",
        "type": "function",
        "z": "e4ab771e79673c52",
        "name": "iterate the data array",
        "func": "msg.i = msg.i+1 || 0\n\nif (msg.i >= msg._cells.length){\n    //finish the process\n    msg.payload = 'END'\n    return [msg, null];\n}else{\n    //cell to check\n    msg.currentCell = msg._cells[msg.i]\n    \n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "b72e6e0be0cac39d"
            ],
            [
                "8a63ae758c43f569"
            ]
        ]
    },
    {
        "id": "0b4ed50ea9ffd47e",
        "type": "delay",
        "z": "e4ab771e79673c52",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 560,
        "y": 420,
        "wires": [
            [
                "6e6c5809518fd73b"
            ]
        ]
    },
    {
        "id": "3e4659ff770ecb44",
        "type": "change",
        "z": "e4ab771e79673c52",
        "name": "_cells",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "_cells",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "6e6c5809518fd73b"
            ]
        ]
    },
    {
        "id": "b72e6e0be0cac39d",
        "type": "debug",
        "z": "e4ab771e79673c52",
        "name": "END",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "8a63ae758c43f569",
        "type": "function",
        "z": "e4ab771e79673c52",
        "name": "exist URL?",
        "func": "\nif(msg.currentCell.length > 0 && msg.i > 0 ){\n    //continue to check \n    msg.url = msg.currentCell[0]\n    return [null, msg];\n}else{\n    //empty cell, continue\n    return [msg, null];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 260,
        "wires": [
            [
                "6e6c5809518fd73b"
            ],
            [
                "5b29122b7c6e65a0"
            ]
        ]
    },
    {
        "id": "5b29122b7c6e65a0",
        "type": "http request",
        "z": "e4ab771e79673c52",
        "name": "GET",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 280,
        "wires": [
            [
                "04223cee7f30d02a"
            ]
        ]
    },
    {
        "id": "d1e92713.d3ed68",
        "type": "http request",
        "z": "0f423dc7fc354cb4",
        "name": "HTTP Request to API",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.scripturecentral.org",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "e5474a1a.84a6b"
            ]
        ]
    },
    {
        "id": "e5474a1a.84a6b",
        "type": "function",
        "z": "0f423dc7fc354cb4",
        "name": "Process API Response",
        "func": "var linkExists = msg.payload.linkExists; // Adjust based on API response\n\n// Prepare data for Google Sheets update\nvar data = {\n    range: 'J' + msg.payload.row, // Adjust in gsheets\n    values: [\n        [linkExists ? 'Exists' : 'Does not exist']\n    ]\n};\n\nmsg.googleSheets = data;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 220,
        "wires": [
            [
                "0b72f7c81acbd571"
            ]
        ]
    },
    {
        "id": "68cf4847478b1ce7",
        "type": "inject",
        "z": "0f423dc7fc354cb4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "66dd19fbbb4714e6"
            ]
        ]
    },
    {
        "id": "66dd19fbbb4714e6",
        "type": "GSheet",
        "z": "0f423dc7fc354cb4",
        "creds": "0f9e4add1d4cec9d",
        "method": "get",
        "action": "",
        "sheet": "1xgPWcIGkOkfwtky8xch_2vKiaxbaLPAb9b2-biFk_4o",
        "cells": "Bookofmormoncentral.org!f21:f50",
        "flatten": false,
        "name": "get url",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "553b359c48853da3"
            ]
        ]
    },
    {
        "id": "0b72f7c81acbd571",
        "type": "GSheet",
        "z": "0f423dc7fc354cb4",
        "creds": "0f9e4add1d4cec9d",
        "method": "update",
        "action": "",
        "sheet": "1xgPWcIGkOkfwtky8xch_2vKiaxbaLPAb9b2-biFk_4o",
        "cells": "Bookofmormoncentral.org!j3:j12",
        "flatten": false,
        "name": "update url",
        "x": 1020,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "553b359c48853da3",
        "type": "debug",
        "z": "0f423dc7fc354cb4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 120,
        "wires": []
    }
]