nodered/flows.json
[
    {
        "id": "e4ab771e79673c52",
        "type": "tab",
        "label": "check urls",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0f423dc7fc354cb4",
        "type": "tab",
        "label": "updateScripturePlusID",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c487a685c5333a0",
        "type": "http proxy",
        "name": "",
        "url": "https://api.scripturecentral.org/proxy/api/",
        "noproxy": []
    },
    {
        "id": "4b529f5deaae6a4f",
        "type": "http proxy",
        "name": "",
        "url": "api.scripturecentral.org/proxy/api/evidences",
        "noproxy": []
    },
    {
        "id": "367129b6a75dfe13",
        "type": "gauth",
        "name": "node-red@soy-enterprise-402215.iam.gserviceaccount.com"
    },
    {
        "id": "0f9e4add1d4cec9d",
        "type": "gauth",
        "name": "nodered-consistency@scripturecentral-dev.iam.gserviceaccount.com"
    },
    {
        "id": "04223cee7f30d02a",
        "type": "function",
        "z": "e4ab771e79673c52",
        "name": "result",
        "func": "\nmsg.payload = msg.statusCode\nmsg.cells = `${msg.sheet}!J${msg.i+1}`\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 360,
        "wires": [
            [
                "38fc2152219e87a5"
            ]
        ]
    },
    {
        "id": "ef10b6e0609460b2",
        "type": "inject",
        "z": "e4ab771e79673c52",
        "name": "Bookofmormoncentral.org",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "sheet",
                "v": "Bookofmormoncentral.org",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "10fcc487f2582ab1"
            ]
        ]
    },
    {
        "id": "fb6a92d4575d8330",
        "type": "GSheet",
        "z": "e4ab771e79673c52",
        "creds": "0f9e4add1d4cec9d",
        "method": "get",
        "action": "",
        "sheet": "1xgPWcIGkOkfwtky8xch_2vKiaxbaLPAb9b2-biFk_4o",
        "cells": "",
        "flatten": false,
        "name": "",
        "x": 630,
        "y": 180,
        "wires": [
            [
                "3e4659ff770ecb44"
            ]
        ]
    },
    {
        "id": "38fc2152219e87a5",
        "type": "GSheet",
        "z": "e4ab771e79673c52",
        "creds": "0f9e4add1d4cec9d",
        "method": "update",
        "action": "",
        "sheet": "1xgPWcIGkOkfwtky8xch_2vKiaxbaLPAb9b2-biFk_4o",
        "cells": "",
        "flatten": false,
        "name": "",
        "x": 1210,
        "y": 400,
        "wires": [
            [
                "0b4ed50ea9ffd47e"
            ]
        ]
    },
    {
        "id": "6e6c5809518fd73b",
        "type": "function",
        "z": "e4ab771e79673c52",
        "name": "iterate the data array",
        "func": "msg.i = msg.i+1 || 0\n\nif (msg.i >= msg._cells.length){\n    //finish the process\n    msg.payload = 'END'\n    return [msg, null];\n}else{\n    //cell to check\n    msg.currentCell = msg._cells[msg.i]\n    \n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 220,
        "wires": [
            [
                "b72e6e0be0cac39d"
            ],
            [
                "8a63ae758c43f569"
            ]
        ]
    },
    {
        "id": "0b4ed50ea9ffd47e",
        "type": "delay",
        "z": "e4ab771e79673c52",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 810,
        "y": 460,
        "wires": [
            [
                "6e6c5809518fd73b"
            ]
        ]
    },
    {
        "id": "3e4659ff770ecb44",
        "type": "change",
        "z": "e4ab771e79673c52",
        "name": "_cells",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "_cells",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "6e6c5809518fd73b"
            ]
        ]
    },
    {
        "id": "b72e6e0be0cac39d",
        "type": "debug",
        "z": "e4ab771e79673c52",
        "name": "END",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 200,
        "wires": []
    },
    {
        "id": "8a63ae758c43f569",
        "type": "function",
        "z": "e4ab771e79673c52",
        "name": "exist URL?",
        "func": "\nif(msg.currentCell.length > 0 && msg.i > 0 ){\n    //continue to check \n    msg.url = msg.currentCell[0]\n    return [null, msg];\n}else{\n    //empty cell, continue\n    return [msg, null];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 300,
        "wires": [
            [
                "6e6c5809518fd73b"
            ],
            [
                "5b29122b7c6e65a0"
            ]
        ]
    },
    {
        "id": "5b29122b7c6e65a0",
        "type": "http request",
        "z": "e4ab771e79673c52",
        "name": "GET",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1070,
        "y": 320,
        "wires": [
            [
                "04223cee7f30d02a"
            ]
        ]
    },
    {
        "id": "2fa3faa1d59417e1",
        "type": "inject",
        "z": "e4ab771e79673c52",
        "name": "Scriptureplus.org",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "sheet",
                "v": "Scriptureplus.org",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "10fcc487f2582ab1"
            ]
        ]
    },
    {
        "id": "10fcc487f2582ab1",
        "type": "function",
        "z": "e4ab771e79673c52",
        "name": "load",
        "func": "msg.cells = `${msg.sheet}!F:F`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "fb6a92d4575d8330"
            ]
        ]
    },
    {
        "id": "36494e90ae2cf8c3",
        "type": "inject",
        "z": "e4ab771e79673c52",
        "name": "Pearlofgreatpricecentral.com",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "sheet",
                "v": "Pearlofgreatpricecentral.com",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "10fcc487f2582ab1"
            ]
        ]
    },
    {
        "id": "2462bb4fc112b2a9",
        "type": "inject",
        "z": "e4ab771e79673c52",
        "name": "Evidencecentral.org",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "sheet",
                "v": "Evidencecentral.org",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "10fcc487f2582ab1"
            ]
        ]
    },
    {
        "id": "05c2970263b7b2a8",
        "type": "inject",
        "z": "e4ab771e79673c52",
        "name": "Biblecentral.info",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "10fcc487f2582ab1"
            ]
        ]
    },
    {
        "id": "85dcc5a3cd86f146",
        "type": "inject",
        "z": "0f423dc7fc354cb4",
        "name": "evcEvidences",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "type",
                "v": "evc_evidences",
                "vt": "str"
            },
            {
                "p": "contentType",
                "v": "evidences",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "aa6096f7b73a0abf"
            ]
        ]
    },
    {
        "id": "aa6096f7b73a0abf",
        "type": "function",
        "z": "0f423dc7fc354cb4",
        "name": "url",
        "func": "\nmsg.page = msg.page+1 || 0\nmsg.maxPage = msg.maxPage || 0\nmsg.typeData = msg.typeData || []\n\nif (msg.page >msg.maxPage){\n\n    return [msg, null]\n}else{\n    msg.url = `https://us-central1-scripturecentral-dev.cloudfunctions.net/scripturecore-api-dev/api/v1/references/${msg.type}?page=${msg.page}`\n\n    return [null, msg]\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "7dc95af8d0f65e16"
            ],
            [
                "f48be67a65f8d727"
            ]
        ]
    },
    {
        "id": "f48be67a65f8d727",
        "type": "http request",
        "z": "0f423dc7fc354cb4",
        "name": "Get S+",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 460,
        "y": 200,
        "wires": [
            [
                "78186a095bca84ce"
            ]
        ]
    },
    {
        "id": "538ac6d888e45f17",
        "type": "delay",
        "z": "0f423dc7fc354cb4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "aa6096f7b73a0abf"
            ]
        ]
    },
    {
        "id": "78186a095bca84ce",
        "type": "function",
        "z": "0f423dc7fc354cb4",
        "name": "prepareData",
        "func": "\n\nfor (let index = 0; index < msg.payload.data.length; index++) {\n    const element = msg.payload.data[index];\n    msg.typeData.push(element)\n}\n\nmsg.maxPage = msg.payload.pagination.totalPages-1\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "538ac6d888e45f17"
            ]
        ]
    },
    {
        "id": "4e9dd0688911975c",
        "type": "inject",
        "z": "0f423dc7fc354cb4",
        "name": "getStrapi ecv by number",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 500,
        "wires": [
            [
                "8fec5e8c9fba687a"
            ]
        ]
    },
    {
        "id": "ff2183c6c902e320",
        "type": "function",
        "z": "0f423dc7fc354cb4",
        "name": "url",
        "func": "msg.url = `${env.get('STRAPI_URL')}/api/${msg.contentType}?filters[number][$eq]=${msg.currentTypeData.number}${msg.currentTypeData.locale? `&locale=${msg.currentTypeData.locale}`:\"\"}`\nmsg.headers = {\n    Authorization: env.get('STRAPI_API_KEY')\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 240,
        "wires": [
            [
                "f26e45d9c9fa3e90"
            ]
        ]
    },
    {
        "id": "f26e45d9c9fa3e90",
        "type": "http request",
        "z": "0f423dc7fc354cb4",
        "name": "getStrapi",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 860,
        "y": 280,
        "wires": [
            [
                "1146df7375648711",
                "75a92450b3daa30f",
                "155c17352467ccc0",
                "154748e827b1bfd8"
            ]
        ]
    },
    {
        "id": "7dc95af8d0f65e16",
        "type": "function",
        "z": "0f423dc7fc354cb4",
        "name": "function 1",
        "func": "\nmsg.i = msg.i+1 || 0\nmsg.currentTypeData = null\n\nif (msg.typeData.length < msg.i){\n    msg.payload = 'END'\n    return [msg, null]\n}else{\n    msg.currentTypeData = msg.typeData[msg.i]\n    return [null, msg]\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            [
                "e51c23d2748ebdbc"
            ],
            [
                "ff2183c6c902e320"
            ]
        ]
    },
    {
        "id": "1146df7375648711",
        "type": "delay",
        "z": "0f423dc7fc354cb4",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 360,
        "wires": [
            [
                "7dc95af8d0f65e16"
            ]
        ]
    },
    {
        "id": "e51c23d2748ebdbc",
        "type": "debug",
        "z": "0f423dc7fc354cb4",
        "name": "END",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 140,
        "wires": []
    },
    {
        "id": "75a92450b3daa30f",
        "type": "function",
        "z": "0f423dc7fc354cb4",
        "name": "update scripturePlus ID",
        "func": "const id = msg.payload.data[0].id\nconst updateUrl = `${env.get('STRAPI_URL')}/api/${msg.contentType}/${id}`;\nmsg.payload = {\n    \"data\": {\n    scripturePlusId: `${msg.currentTypeData.id}`\n    }\n};\nmsg.headers = {\n    Authorization: env.get('STRAPI_API_KEY'),\n    'Content-Type': 'application/json'\n};\n\nmsg.url = updateUrl;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "03de2dc87fb3aff5"
            ]
        ]
    },
    {
        "id": "8fec5e8c9fba687a",
        "type": "function",
        "z": "0f423dc7fc354cb4",
        "name": "url",
        "func": "msg.url = `${env.get('STRAPI_URL')}/api/evidences?filters[number][$eq]=433`\nmsg.headers = {\n    Authorization: env.get('STRAPI_API_KEY')\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 500,
        "wires": [
            [
                "57e5edae688823e8"
            ]
        ]
    },
    {
        "id": "57e5edae688823e8",
        "type": "http request",
        "z": "0f423dc7fc354cb4",
        "name": "getStrapi",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 500,
        "wires": [
            [
                "d42a95f3baca07f0",
                "edc94957a5fce11f"
            ]
        ]
    },
    {
        "id": "d42a95f3baca07f0",
        "type": "function",
        "z": "0f423dc7fc354cb4",
        "name": "update scripturePlusID",
        "func": "const id = msg.payload.data[0].id\nconst updateUrl = `${env.get('STRAPI_URL')}/api/evidences/${id}`;\nmsg.payload = {\n    \"data\": {\n    scripturePlusId: \"Hello2\"\n    }\n};\nmsg.headers = {\n    Authorization: env.get('STRAPI_API_KEY'),\n    'Content-Type': 'application/json'\n};\n\nmsg.url = updateUrl;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 500,
        "wires": [
            [
                "44f8b57c369a2be9"
            ]
        ]
    },
    {
        "id": "155c17352467ccc0",
        "type": "debug",
        "z": "0f423dc7fc354cb4",
        "name": "msg.currentTypeData",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "currentTypeData",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 220,
        "wires": []
    },
    {
        "id": "154748e827b1bfd8",
        "type": "debug",
        "z": "0f423dc7fc354cb4",
        "name": "StrapiElement",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "19f89166a240fe2a",
        "type": "debug",
        "z": "0f423dc7fc354cb4",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 500,
        "wires": []
    },
    {
        "id": "1a6b6204b981acf3",
        "type": "debug",
        "z": "0f423dc7fc354cb4",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 320,
        "wires": []
    },
    {
        "id": "edc94957a5fce11f",
        "type": "debug",
        "z": "0f423dc7fc354cb4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "44f8b57c369a2be9",
        "type": "http request",
        "z": "0f423dc7fc354cb4",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 500,
        "wires": [
            [
                "19f89166a240fe2a"
            ]
        ]
    },
    {
        "id": "03de2dc87fb3aff5",
        "type": "http request",
        "z": "0f423dc7fc354cb4",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1210,
        "y": 360,
        "wires": [
            [
                "1a6b6204b981acf3"
            ]
        ]
    },
    {
        "id": "9b858fb0890e96d4",
        "type": "inject",
        "z": "0f423dc7fc354cb4",
        "name": "Knowhy",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "type",
                "v": "scripture_knowhys",
                "vt": "str"
            },
            {
                "p": "contentType",
                "v": "knowhys",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "aa6096f7b73a0abf"
            ]
        ]
    }
]